@import url('https://fonts.googleapis.com/css?family=Tinos&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Tinos',
        serif;
}

header {
    height: 64px;
    background: #041E42;
}

#brand-logo {
    float: left;
}

#cart-btn {
    float: right;
    font-size: 28px;
}

#cart-btn i {
    color: #ffffff;
}

header img {
    height: 64px;
    width: 64px;
}

.product {
    margin-top: 16px;
}

.product .boxes {
    display: flex;
    flex-direction: row;

}

.product .box {
    width: 25%;
    margin: auto;
}

.card img {
    width: 100%;
}

#cart-btn {
    text-decoration: none;
    padding: 14px 7px;
    background: #041E42;
    color: #ffffff;
}

.snipcart-add-item {
    padding: 12px 6px;
    background: #041E42;
    color: #ffffff;
}

.snip #snipcart-footer {
    background: #041E42;
}

.snip #snipcart-header {
    background: #041E42;
    font-family: 'Tinos',
        serif;
}

.snip #snipcart-header #snipcart-total {
    background-color: #CE1141;
    color: #ffffff;
    border: none;
    border-radius: 0%;
}

#snipcart-header #snipcart-header-total span {
    color: #ffffff;
}

.snip .snipcart-item-header {
    color: #CE1141;
}

.snip #snipcart-main-container a.snipcart-next {
    background: #CE1141;
    opacity: 1;
    color: #ffffff;
}

.snip #snipcart-apply-discount button {
    background: #CE1141;
}

.snip #snipcart-steps {
    background: #CE1141;
}

.snip #snipcart-steps li {
    background: #CE1141;
}

.snip #snipcart-title {
    visibility: hidden;
}

/* .snip #snipcart-title:after {
    content: '';
    visibility: visible;
    background: url('tranquilo estilo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 60px;
    height: 60px;
    display: inline-block;
} */
.snip .snipcart-item-quantity-triggers a{
    background: #041E42;
}

.snip .snipcart-summary a{
    color: #FFFFFf;
    text-decoration: none;
}
.snip .snipcart-summary{
    text-align: left;
    background: #041E42;
    height: 48px;}
.snip .summary{
    margin: 0;
}
.summary{
    float: right;
}
.summary a{
    margin-right: 8px;
}
footer{
    background: #041E42;
    color: #ffffff;
    padding: 16px;
    font-size: 16px;
    text-align: center;
}

.snip #snipcart-modal{
    font-family: 'Tinos',
    serif;
}